.art-inner {
    padding-top: 136px;
    height: 500px;
    border-radius: 10px;
    background: #FAF7F3;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.art-title {
    color: #1A1918;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}

.art-text {
    width: 544px;
    color: #322F2E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding-top: 24px;
}

.art-input {
    width: 380px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 12px 0px #0000001a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
}

.art-arrow {
    margin-right: 9px;
}

.art-inp-placeholder {
    color: rgba(0, 0, 0, 0.45);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-left: 31px;
}